{% include directory ~ '/templates/partials/header.html.twig' %}

{% if page.feature %}
  {{ page.feature }}
{% endif %}

<!-- Newsletter Section -->
<section class="social-section">
	<div class="social-content">
		<div class="social-header">
			<span class="platform">INSTAGRAME</span>
			<h2 class="handle">@Pettyys</h2>
			<p class="description">Our Latest Posts</p>
		</div>
		<div class="paw-path-left"></div>
		<div class="social-posts">
			<img src="{{ base_path ~ directory }}/images/1.png" alt="Pet 1">
			<img src="{{ base_path ~ directory }}/images/2.png" alt="Pet 2">
			<img src="{{ base_path ~ directory }}/images/3.png" alt="Pet 3">
			<img src="{{ base_path ~ directory }}/images/4.png" alt="Pet 4">
			<img src="{{ base_path ~ directory }}/images/5.png" alt="Pet 5">
			<img src="{{ base_path ~ directory }}/images/6.png" alt="Pet 6">
			<img src="{{ base_path ~ directory }}/images/7.png" alt="Pet 7">
		</div>
		<div class="paw-path-right"></div>
	</div>
</section>

{% include directory ~ '/templates/partials/footer.html.twig' %}
